[advice]
  mergeConflict = false
  statusHints = false

[alias]
  amend = commit --amend --reuse-message=HEAD
  ; branches = !git for-each-ref --color=always --sort=-committerdate --format=\"%(color:red)%(refname:short)|%(color:blue)%(authordate:short)|%(color:green)%(authordate:relative)|%(color:cyan)%(authorname)|%(color:reset)%(upstream:track)\" refs/heads | column -s\"|\" -t
  co = checkout
  cob = !git branch | cut -c 3- | selecta | xargs git checkout
  current = branch --show-current
  difftree = !git diff --stat=1000 $(git main) | sed -e '$ d' | cut -d ' ' -f 2 | ftree
  fixup = commit --fixup=HEAD --all --no-gpg-sign
  force = push --force-with-lease
  graph = log --graph --date-order --all --pretty=graph
  in-repo = !git rev-parse --git-dir > /dev/null 2>&1
  log = log --show-notes-by-default
  main = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  news = log --pretty=news $(git describe --tags --abbrev=0)...
  ready = !git promote && hub pull-request
  reference = log --max-count=1 --format=reference

[apply]
  whitespace = fix

[blame]
  blankBoundary = true
  coloring=highlightRecent
  date = local
  ; ignoreRevsFile = .git-blame-ignore-revs
  markIgnoredLines = true
  markUnblamableLines = true
  showRoot = true

[branch]
  autoSetupRebase = remote
  sort = -committerdate

[checkout]
  workers = 0

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[color "branch"]
  current = "#d28f01 #432e21 bold"
  local = "#4596ff"
  plain = "#008905"
  remote = "#d28f01"

[color "decorate"]
  HEAD = "#00429b"
  branch = "#4596ff"
  remoteBranch = "#d28f01"
  stash = "#003100"
  tag = magenta

[color "diff"]
  commit = "#6585b6"
  context = "#c9d1d9"
  frag = "#ffebce"
  func = "#fc539f bold"
  meta = "#a16c00"
  new = "#c9d1d9 #233653 bold" ; hsl(216, 40, 25.5)
  newMoved = "#c9d1d9 #0d1b30"
  newMovedAlternative = "#c9d1d9 #2b3b52"
  newMovedAlternativeDimmed = "#c9d1d9 #333b46"
  newMovedDimmed = "#c9d1d9 #141b26"
  old = "#c9d1d9 #432e21 bold"
  oldMoved = "#c9d1d9 #2b1e17"
  oldMovedAlternative = "#c9d1d9 #43352c"
  oldMovedAlternativeDimmed = "#c9d1d9 #3c372f"
  oldMovedDimmed = "#c9d1d9 #25211e"
  whitespace = "#9e011b"

[color "status"]
  added = "#d28f01"
  changed = "#4596ff"
  header = "#8d96a0"
  localBranch = "#4596ff #233653 bold"
  noBranch = "#3bad4e #002b08 bold"
  remoteBranch = "#d28f01 #432e21 bold"
  unmerged = "#3bad4e"
  untracked = "#cac5c4 bold"

[column]
  ui = auto dense

[commit]
  gpgsign = true
  verbose = true

[core]
  attributesfile = ~/.gitattributes
  autocrlf = input
  excludesfile = ~/.gitignore
  hooksPath = ~/.git_hooks
  pager = less --quit-if-one-screen --RAW-CONTROL-CHARS --no-init --tabs=2,4
  whitespace = blank-at-eol,trailing-space,tabwidth=2

[diff]
  algorithm = histogram
  colorMoved = dimmed-zebra
  colorMovedWS = allow-indentation-change
  compactionHeuristic = true
  mnemonicPrefix = true
  renames = copies
  wsErrorHighlight = old,new

[diff "rspec"]
  xfuncname = "^[[:space:]]*((RSpec|describe|context|it|before|after|around|feature|scenario)[[:space:]].*)$"

[diff "swift"]
  xfuncname = "^[[:space:]]*((@?\\w+[[:space:]])*(actor|class|enum|extension|func>|init|protocol|struct)[[:space:]]*[^:{]+[^{]*)[[:space:]]*{?[} \\w]*$"

[diff "toml"]
  xfuncname = "^[[:space:]]*((\\[.*\\])|([^#].*))$"
  xfuncname = "^[[:space:]]*(\\[.*\\])$"

[difftool]
  prompt = false

[fetch]
  prune = true

[github]
  user = calebhearth

[gpg]
  format = ssh
  program = /usr/bin/ssh-keygen

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
  defaultKeyCommand = ssh-add -L

[help]
  autocorrect = immediate

[http]
  sslverify = false

[init]
  defaultBranch = main
  ; templatedir = ~/.dotfiles/git/git_template

[lfs]
  batch = true

[log]
  abbrevCommit = true
  date = human-local
  decorate = auto
  excludeDecoration = "refs/remotes/origin/HEAD"
  follow = true
  graphColors = "#626262", "#008905", "#6100ca", "#9e011b", "#5faf87", "#b95700", "#d01478", "#00afd7"
  mailmap = true

[merge]
  autostash = true
  branchdesc = true
  conflictstyle = zdiff3
  ff = only
  stat = true
  tool = nvimdiff

[merge "bundler"]
  driver = bundler-merge %A %O %B
  name = Gemfile.lock merge driver

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"

[pretty]
  graph = %C(auto)%d %C(reset bold "#c9d1d9")%s %C(reset "#6100ca")%ad %C(auto)%h %C("#005b00")%aN %C(reset "#00429b")%G?
  ; graph = %C(auto)%d %s %ad %h %aN %G?
  news = * %s %h%n%n  *%aN*
  update = graph

[pull]
  ff = only
  rebase = merges

[push]
  autoSetupRemote = true
  default = upstream
  followTags = true
  gpgSign = if-asked
  useForceIfIncludes = true

[rebase]
  autosquash = true
  autostash = true
  stat = true

[receive]
  denyCurrentBranch = ignore

[rerere]
  enabled = true

[revert]
  reference = true

[sendemail]
  aliasesfile = ~/.mutt/aliases
  aliasfiletype = mutt
  annotate = true
  chainreplyto = false
  smtpencryption = tls
  smtpserver = mail.messagingengine.com
  smtpserverport = 587
  smtpuser = calebthompson@fastmail.fm
  suppresscc = self

[status]
  branch = true
  short = true
  showUntrackedFiles = all

[tag]
  forceSignAnnotated = true
  sort = version:refname

[user]
  email = caleb@calebhearth.com
  name = Caleb Hearth

[include]
  ; path = ~/.gitconfig.d/delta
  path = ~/.gitconfig.d/diff-highlight
  ; path = ~/.gitconfig.d/difftastic
  path = ~/.gitconfig.d/gh

[includeIf "hasconfig:remote.*.url:*gitlab.av:*/**"]
  path = ~/.gitconfig.d/files_com
