.DS_Store
.tissues
*.swp
*.rbc
*.bak
.env

# SVN
.svn

.gitkeep
.keep

# Vim
.*.sw[a-z]
*.un~
Session.vim

# Linux
*~

/.agignore
/.gitignore
/.ignore
/.rgignore

/.rake_t_cache

/.powrc
/.powenv
/.ruby-gemset
/.ruby-version
/tags
/tags.[0-9][0-9][0-9][0-9][0-9]
/.rvmrc
/.gem
/.envrc
/.projections.json
/.vimrc.local
/.nvimrc
**/.bundle/config
.rspec-local
tmux-client-*.log

xcuserdata/
/.direnv
config/initializers/zzz.rb
/.mise.local.toml
/.mise/
