[advice]
  mergeConflict = false

[alias]
  amend = commit --amend --reuse-message=HEAD
  ; branches = !git for-each-ref --color=always --sort=-committerdate --format=\"%(color:red)%(refname:short)|%(color:blue)%(authordate:short)|%(color:green)%(authordate:relative)|%(color:cyan)%(authorname)|%(color:reset)%(upstream:track)\" refs/heads | column -s\"|\" -t
  co = checkout
  cob = !git branch | cut -c 3- | selecta | xargs git checkout
  current = branch --show-current
  difftree = !git diff --stat=1000 $(git main) | sed -e '$ d' | cut -d ' ' -f 2 | ftree
  fixup = commit --fixup=HEAD --all --no-gpg-sign
  force = push --force-with-lease
  graph = log --graph --date-order --all --pretty=graph
  in-repo = !git rev-parse --git-dir > /dev/null 2>&1
  log = log --show-notes-by-default
  main = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  news = log --pretty=news $(git describe --tags --abbrev=0)...
  promote = push --set-upstream
  ready = !git promote && hub pull-request

[apply]
  whitespace = fix

[blame]
  blankBoundary = true
  coloring=highlightRecent
  date = local
  ; ignoreRevsFile = .git-blame-ignore-revs
  markIgnoredLines = true
  markUnblamableLines = true
  showRoot = true

[branch]
  sort = -committerdate

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[color "branch"]
  current = "#d29922 #282119 bold"
  local = "#4493f8"
  plain = blue
  remote = "#d29922"

[color "decorate"]
  HEAD = "#c94241"
  branch = "#4493f8"
  remoteBranch = "#d29922"
  stash = "#c94241"
  tag = magenta

[color "diff"]
  ; new = "#c9d1d9 #1C2E4A bold"
  ; newMovedAlternative = "#c9d1d9"
  ; newMovedAlternativeDimmed = "#c9d1d9"
  ; newMovedDimmed = "#c9d1d9 bold"
  ; old = "#c9d1d9 #d47616 bold"
  ; oldMovedAlternative = normal
  ; oldMovedAlternativeDimmed = normal dim
  ; oldMovedDimmed = normal dim
  commit = yellow dim
  context = "#c9d1d9"
  frag = cyan dim
  func = magenta bold
  meta = yellow bold
  new = "#c9d1d9 #273C5B bold"
  old = "#c9d1d9 #463023 bold"
  whitespace = red

[color "status"]
  added = "#d29922"
  changed = "#4493f8"
  header = "#8d96a0"
  localBranch = "#4493f8 #131D2E bold"
  remoteBranch = "#d29922 #282119 bold"
  untracked = "#8d96a0 bold"

[column]
  ui = auto dense

[commit]
  gpgsign = true
  verbose = true

[core]
  attributesfile = ~/.gitattributes
  autocrlf = input
  excludesfile = ~/.gitignore
  hooksPath = ~/.git_hooks
  pager = less --quit-if-one-screen --RAW-CONTROL-CHARS --no-init --tabs=1,3
  whitespace = blank-at-eol,trailing-space,tabwidth=3

[diff]
  ; algorithm = histogram
  ; colorMoved = dimmed-zebra
  ; colorMovedWS = allow-indentation-change
  ; compactionHeuristic = true
  ; mnemonicPrefix = true
  ; wsErrorHighlight = old,new

[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"

[diff "toml"]
  xfuncname = "^[ \t]*((\\[.*\\])|([^#].*))$"

[difftool]
  prompt = false

[fetch]
  prune = true

[github]
  user = calebhearth

[gpg]
  format = ssh
  program = /usr/bin/ssh-keygen

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
  defaultKeyCommand = ssh-add -L

[help]
  autocorrect = immediate

[http]
  sslverify = false

[init]
  ; templatedir = ~/.dotfiles/git/git_template
  defaultBranch = main

[lfs]
  batch = true

[log]
  abbrevCommit = true
  date = human-local
  decorate = auto
  excludeDecoration = "refs/remotes/origin/HEAD"
  follow = true
  graphColors = "#626262", "#005f00", "#5f00d7", "#af0000", "#5faf87", "#d75f00", "#af0087", "#00afd7"
  mailmap = true

[merge]
  autostash = true
  conflictstyle = zdiff3
  ff = only
  stat = true
  tool = nvimdiff

[mergetool]
  keepBackup = false
  prompt = false

[pretty]
  graph = %C(auto)%d %s %C(reset green dim)%ad %C(auto)%h %C(bold cyan)%aN %C(reset blue)%G?
  news = * %s %h%n%n  *%aN*
  update = graph

[pull]
  ff = only
  rebase = merges

[push]
  ; gpgSign = if-asked
  autoSetupRemote = true
  default = current
  default = tracking

[rebase]
  autosquash = true
  autostash = true
  stat = true

[receive]
  denyCurrentBranch = ignore

[rerere]
  enabled = true

[sendemail]
  aliasesfile = ~/.mutt/aliases
  aliasfiletype = mutt
  annotate = true
  chainreplyto = false
  smtpencryption = tls
  smtpserver = mail.messagingengine.com
  smtpserverport = 587
  smtpuser = calebthompson@fastmail.fm
  suppresscc = self

[status]
  branch = true
  short = true
  showUntrackedFiles = all

[tag]
  forceSignAnnotated = true
  sort = version:refname

[user]
  email = caleb@calebhearth.com
  name = Caleb Hearth

[include]
  ; path = ~/.gitconfig.d/delta
  ; path = ~/.gitconfig.d/difftastic
  path = ~/.gitconfig.d/gh
  ; path = ~/.gitconfig.d/diff-highlight

[includeIf "hasconfig:remote.*.url:*gitlab.av:*/**"]
  path = ~/.gitconfig.d/files_com
