@keyframes blinking-dot {
  0% {
    opacity: 1
  }

  25% {
    opacity: .4
  }

  75% {
    opacity: .4
  }

  100% {
    opacity: 1
  }
}

@keyframes gl-spinner-rotate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes gl-keyframes-skeleton-loader {
  0% {
    background-position-x: -32rem
  }

  100% {
    background-position-x: 32rem
  }
}

.code.highlight .hljs-comment {
  color: var(--color-hljs-comment)
}

.code.highlight .hljs-link {
  color: var(--color-hljs-link)
}

.code.highlight .hljs-meta {
  color: var(--color-hljs-meta)
}

.code.highlight .hljs-keyword {
  color: var(--color-hljs-keyword)
}

.code.highlight .hljs-type {
  color: var(--color-hljs-type)
}

.code.highlight .hljs-attr,
.code.highlight .hljs-property {
  color: var(--color-hljs-attr)
}

.code.highlight .hljs-built_in {
  color: var(--color-hljs-builtin)
}

.code.highlight .hljs-literal {
  color: var(--color-hljs-literal)
}

.code.highlight .hljs-title {
  color: var(--color-hljs-title)
}

.code.highlight .hljs-title.class_ {
  color: var(--color-hljs-class)
}

.code.highlight .hljs-title.class_.inherited__ {
  color: var(--color-hljs-variable)
}

.code.highlight .hljs-title.function_ {
  color: var(--color-hljs-function)
}

.code.highlight .hljs-tag,
.code.highlight .hljs-name {
  color: var(--color-hljs-tag)
}

.code.highlight .hljs-number {
  color: var(--color-hljs-number)
}

.code.highlight .hljs-subst {
  color: var(--color-hljs-subst)
}

.code.highlight .hljs-string,
.code.highlight .hljs-section,
.code.highlight .hljs-bullet {
  color: var(--color-hljs-string)
}

.code.highlight .hljs-symbol {
  color: var(--color-hljs-symbol)
}

.code.highlight .hljs-variable {
  color: var(--color-hljs-variable)
}

.code.highlight .hljs-variable.language_ {
  color: var(--color-hljs-language)
}

.code.highlight .hljs-variable.constant_ {
  color: var(--color-hljs-constant)
}

.code.highlight .hljs-attribute {
  color: var(--color-hljs-attribute)
}

.code.highlight .hljs-operator {
  color: var(--color-hljs-operator)
}

.code.highlight .hljs-punctuation {
  color: var(--color-hljs-punctuation)
}

.code.highlight .hljs-regexp {
  color: var(--color-hljs-regexp)
}

.code.highlight .hljs-params {
  color: var(--color-hljs-params)
}

.code.highlight .hljs-doctag {
  color: var(--color-hljs-doctag)
}

.code.highlight .hljs-selector-tag {
  color: var(--color-hljs-selector-tag)
}

.code.highlight .hljs-selector-class {
  color: var(--color-hljs-selector-class)
}

.code.highlight .hljs-selector-id {
  color: var(--color-hljs-selector-id)
}

.code.highlight .hljs-selector-attr {
  color: var(--color-hljs-selector-attr)
}

.code.highlight .hljs-selector-pseudo {
  color: var(--color-hljs-selector-pseudo)
}

:root {
  --color-hljs-comment: #969896;
  --color-hljs-variable: #b294bb;
  --color-hljs-link: #de935f;
  --color-hljs-meta: #969896;
  --color-hljs-keyword: #b294bb;
  --color-hljs-type: #f0c674;
  --color-hljs-attr: #81a2be;
  --color-hljs-builtin: #c5c8c6;
  --color-hljs-title: #c5c8c6;
  --color-hljs-class: #f0c674;
  --color-hljs-function: #81a2be;
  --color-hljs-tag: #8abeb7;
  --color-hljs-number: #de935f;
  --color-hljs-subst: #c5c8c6;
  --color-hljs-string: #b5bd68;
  --color-hljs-symbol: #b5bd68;
  --color-hljs-variable: #c66;
  --color-hljs-operator: #8abeb7;
  --color-hljs-punctuation: #c5c8c6;
  --color-hljs-regexp: #b5bd68;
  --color-hljs-constant: #81a2be;
  --color-hljs-literal: #b294bb;
  --color-hljs-language: #81a2be;
  --color-hljs-params: #81a2be;
  --color-hljs-selector-doctag: #969896;
  --color-hljs-selector-tag: #8abeb7;
  --color-hljs-selector-class: #f0c674;
  --color-hljs-selector-id: #f0c674;
  --color-hljs-selector-attr: #8abeb7;
  --color-hljs-selector-pseudo: #8abeb7;
  --default-diff-color-deletion: #ff3333;
  --default-diff-color-addition: #288f2a
}

.code.dark.blob-viewer .hljs-title\.class {
  color: #f0c674
}

.code.dark.blob-viewer .hljs-title\.class\.inherited {
  color: #c66
}

.code.dark.blob-viewer .hljs-variable\.constant {
  color: #c66
}

.code.dark.blob-viewer .hljs-title\.function {
  color: #81a2be
}

.code.dark .file-line-blame::before {
  visibility: hidden;
  align-self: center;
  margin-right: .125rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, .3);
  -webkit-mask-image: url(/assets/icons-stacked-fcdbfcf28ed15d2eb8acd2b3fedb3204470cba593b2d45eb338329cec89cb3da.svg#git);
  mask-image: url(/assets/icons-stacked-fcdbfcf28ed15d2eb8acd2b3fedb3204470cba593b2d45eb338329cec89cb3da.svg#git);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
  content: ""
}

.code.dark .file-line-blame:hover::before {
  background-color: rgba(255, 255, 255, .6)
}

.code.dark .line-links:hover,
.code.dark .line-links:focus-within {
  background-color: #050606
}

.code.dark .line-numbers,
.code.dark .diff-line-num,
.code.dark .code-search-line {
  background-color: #1d1f21
}

.code.dark .diff-line-num,
.code.dark .diff-line-num a {
  color: rgba(255, 255, 255, .3);
}

.code.dark pre.code,
.code.dark .diff-line-num {
  border-color: #666
}

.code.dark,
.code.dark pre.code,
.code.dark .line_holder .line_content {
  background-color: #1d1f21;
  color: #c5c8c6
}

.code.dark .diff-line-expand-button {
  background-color: #626168;
  color: #bfbfc3
}

.code.dark .diff-line-expand-button:hover {
  background-color: #a4a3a8;
  color: #fff
}

.code.dark .diff-grid-row.line_holder.diff-tr .diff-td.commented:not(.hll) {
  --highlight-border-color: #1068bf;
  background-color: #033464
}

.code.dark .line_holder.match .line_content,
.code.dark .line_holder.old-nonewline .line_content,
.code.dark .line_holder.new-nonewline .line_content {
  color: rgba(255, 255, 255, .3);
  background: rgba(255, 255, 255, .1)
}

.code.dark .line_holder.diff-grid-row {
  --diff-expansion-background-color: #626168;
}

.code.dark .line_holder.diff-grid-row.expansion .diff-td {
  background-color: rgba(255, 255, 255, .1)
}

.code.dark .line_holder .diff-td.diff-line-num.hll,
.code.dark .line_holder .diff-td.line-coverage.hll,
.code.dark .line_holder .diff-td.line-inline-findings.hll,
.code.dark .line_holder .diff-td.line_content.hll,
.code.dark .line_holder td.diff-line-num.hll,
.code.dark .line_holder td.line-coverage.hll,
.code.dark .line_holder td.line_content.hll {
  --highlight-border-color: #ab6100;
  background-color: #703800
}

.code.dark .line_holder .line-coverage {
  transition: border-left .1s ease-out
}

.code.dark .line_holder .line-coverage.coverage {
  border-left: 2px solid #b3e841
}

.code.dark .line_holder .line-coverage.no-coverage {
  border-left: 4px solid #ff4f33
}

.code.dark .line_holder .diff-line-num.new,
.code.dark .line_holder .line-coverage.new,
.code.dark .line_holder .line-inline-findings.new,
.code.dark .line_holder .line_content.new,
.code.dark .line_holder .diff-line-num.new-nomappinginraw,
.code.dark .line_holder .line-coverage.new-nomappinginraw,
.code.dark .line_holder .line-inline-findings.new-nomappinginraw,
.code.dark .line_holder .line_content.new-nomappinginraw {
  background: rgba(51, 255, 51, .1)
}

.code.dark .line_holder .diff-line-num.new.line_content span.idiff,
.code.dark .line_holder .line-coverage.new.line_content span.idiff,
.code.dark .line_holder .line-inline-findings.new.line_content span.idiff,
.code.dark .line_holder .line_content.new.line_content span.idiff,
.code.dark .line_holder .diff-line-num.new-nomappinginraw.line_content span.idiff,
.code.dark .line_holder .line-coverage.new-nomappinginraw.line_content span.idiff,
.code.dark .line_holder .line-inline-findings.new-nomappinginraw.line_content span.idiff,
.code.dark .line_holder .line_content.new-nomappinginraw.line_content span.idiff {
  background: rgba(51, 255, 51, .2)
}

.code.dark .line_holder .diff-line-num.new.diff-line-num,
.code.dark .line_holder .line-coverage.new.diff-line-num,
.code.dark .line_holder .line-inline-findings.new.diff-line-num,
.code.dark .line_holder .line_content.new.diff-line-num,
.code.dark .line_holder .diff-line-num.new-nomappinginraw.diff-line-num,
.code.dark .line_holder .line-coverage.new-nomappinginraw.diff-line-num,
.code.dark .line_holder .line-inline-findings.new-nomappinginraw.diff-line-num,
.code.dark .line_holder .line_content.new-nomappinginraw.diff-line-num {
  border-color: gray
}

.code.dark .line_holder .diff-line-num.new::before,
.code.dark .line_holder .diff-line-num.new a,
.code.dark .line_holder .line-coverage.new::before,
.code.dark .line_holder .line-coverage.new a,
.code.dark .line_holder .line-inline-findings.new::before,
.code.dark .line_holder .line-inline-findings.new a,
.code.dark .line_holder .line_content.new::before,
.code.dark .line_holder .diff-line-num.new-nomappinginraw::before,
.code.dark .line_holder .diff-line-num.new-nomappinginraw a,
.code.dark .line_holder .line-coverage.new-nomappinginraw::before,
.code.dark .line_holder .line-coverage.new-nomappinginraw a,
.code.dark .line_holder .line-inline-findings.new-nomappinginraw::before,
.code.dark .line_holder .line-inline-findings.new-nomappinginraw a,
.code.dark .line_holder .line_content.new-nomappinginraw::before,
.code.dark .line_holder .line_content.new-nomappinginraw a {
  color: #627165;
}

.code.dark .line_holder .diff-line-num.old,
.code.dark .line_holder .line-coverage.old,
.code.dark .line_holder .line-inline-findings.old,
.code.dark .line_holder .line_content.old,
.code.dark .line_holder .diff-line-num.old-nomappinginraw,
.code.dark .line_holder .line-coverage.old-nomappinginraw,
.code.dark .line_holder .line-inline-findings.old-nomappinginraw,
.code.dark .line_holder .line_content.old-nomappinginraw {
  background: rgba(255, 51, 51, .2);
}

.code.dark .line_holder .diff-line-num.old.line_content span.idiff,
.code.dark .line_holder .line-coverage.old.line_content span.idiff,
.code.dark .line_holder .line-inline-findings.old.line_content span.idiff,
.code.dark .line_holder .line_content.old.line_content span.idiff,
.code.dark .line_holder .diff-line-num.old-nomappinginraw.line_content span.idiff,
.code.dark .line_holder .line-coverage.old-nomappinginraw.line_content span.idiff,
.code.dark .line_holder .line-inline-findings.old-nomappinginraw.line_content span.idiff,
.code.dark .line_holder .line_content.old-nomappinginraw.line_content span.idiff {
  background: rgba(255, 51, 51, .25)
}

.code.dark .line_holder .diff-line-num.old.diff-line-num,
.code.dark .line_holder .line-coverage.old.diff-line-num,
.code.dark .line_holder .line-inline-findings.old.diff-line-num,
.code.dark .line_holder .line_content.old.diff-line-num,
.code.dark .line_holder .diff-line-num.old-nomappinginraw.diff-line-num,
.code.dark .line_holder .line-coverage.old-nomappinginraw.diff-line-num,
.code.dark .line_holder .line-inline-findings.old-nomappinginraw.diff-line-num,
.code.dark .line_holder .line_content.old-nomappinginraw.diff-line-num {
  border-color: gray
}

.code.dark .line_holder .diff-line-num.old::before,
.code.dark .line_holder .diff-line-num.old a,
.code.dark .line_holder .line-coverage.old::before,
.code.dark .line_holder .line-coverage.old a,
.code.dark .line_holder .line-inline-findings.old::before,
.code.dark .line_holder .line-inline-findings.old a,
.code.dark .line_holder .line_content.old::before,
.code.dark .line_holder .line_content.old a,
.code.dark .line_holder .diff-line-num.old-nomappinginraw::before,
.code.dark .line_holder .diff-line-num.old-nomappinginraw a,
.code.dark .line_holder .line-coverage.old-nomappinginraw::before,
.code.dark .line_holder .line-coverage.old-nomappinginraw a,
.code.dark .line_holder .line-inline-findings.old-nomappinginraw::before,
.code.dark .line_holder .line-inline-findings.old-nomappinginraw a,
.code.dark .line_holder .line_content.old-nomappinginraw::before,
.code.dark .line_holder .line_content.old-nomappinginraw a {
  color: #806565
}

.code.dark .line_holder:not(.match) .diff-grid-left:hover .diff-line-num:not(.empty-cell),
.code.dark .line_holder:not(.match) .diff-grid-right:hover .diff-line-num:not(.empty-cell),
.code.dark .line_holder.code-search-line:hover .diff-line-num:not(.empty-cell) {
  background-color: #453894;
  border-color: #ac93e6
}

.code.dark .line_holder:not(.match) .diff-grid-left:hover .diff-line-num:not(.empty-cell) a,
.code.dark .line_holder:not(.match) .diff-grid-right:hover .diff-line-num:not(.empty-cell) a,
.code.dark .line_holder.code-search-line:hover .diff-line-num:not(.empty-cell) a {
  color: #f4f0ff
}

.code.dark .line_holder .diff-line-num.is-over,
.code.dark .line_holder .diff-line-num.hll:not(.empty-cell).is-over {
  background-color: #453894;
  border-color: #ac93e6
}

.code.dark .line_holder .diff-line-num.is-over a,
.code.dark .line_holder .diff-line-num.hll:not(.empty-cell).is-over a {
  color: #f4f0ff
}

.code.dark .line_holder .line_content.match {
  color: rgba(255, 255, 255, .3);
  background: rgba(255, 255, 255, .1)
}

.code.dark .line_holder:not(.diff-expanded)+.diff-expanded>.diff-line-num,
.code.dark .line_holder:not(.diff-expanded)+.diff-expanded>.line-coverage,
.code.dark .line_holder:not(.diff-expanded)+.diff-expanded>.line_content,
.code.dark .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.diff-line-num,
.code.dark .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.line-coverage,
.code.dark .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.line_content {
  border-top: 1px solid #000
}

.code.dark .line_holder.diff-expanded>.diff-line-num,
.code.dark .line_holder.diff-expanded>.line-coverage,
.code.dark .line_holder.diff-expanded>.line_content {
  background: #3e3e3e;
  border-color: #3e3e3e
}

.code.dark .diff-line-num.conflict_marker_our,
.code.dark .diff-line-num.conflict_our {
  background-color: rgba(51, 255, 51, .2);
  border-color: rgba(51, 255, 51, .2)
}

.code.dark .diff-line-num.conflict_marker_their,
.code.dark .diff-line-num.conflict_their {
  background-color: rgba(40, 120, 201, .4);
  border-color: rgba(40, 120, 201, .4)
}

.code.dark .line_holder .line_content,
.code.dark .line_holder .line-coverage {
  position: relative
}

.code.dark .line_holder .line_content.conflict_marker_our,
.code.dark .line_holder .line-coverage.conflict_marker_our {
  background-color: rgba(51, 255, 51, .2);
  border-color: rgba(51, 255, 51, .2)
}

.code.dark .line_holder .line_content.conflict_marker_their,
.code.dark .line_holder .line-coverage.conflict_marker_their {
  background-color: rgba(40, 120, 201, .4);
  border-color: rgba(40, 120, 201, .4)
}

.code.dark .line_holder .line_content.conflict_our,
.code.dark .line_holder .line-coverage.conflict_our {
  background-color: rgba(51, 255, 51, .1);
  border-color: rgba(51, 255, 51, .1)
}

.code.dark .line_holder .line_content.conflict_their,
.code.dark .line_holder .line-coverage.conflict_their {
  background-color: rgba(40, 120, 201, .3);
  border-color: rgba(40, 120, 201, .3)
}

.code.dark pre .hll {
  background-color: #373b41 !important
}

.code.dark span.highlight_word {
  background-color: #ffe792 !important;
  color: #000 !important
}

.code.dark .line a {
  color: #81a2be
}

.code.dark .hll {
  background-color: #373b41
}

.code.dark .c {
  color: #969896
}

.code.dark .err {
  color: #c66
}

.code.dark .k {
  color: #b294bb
}

.code.dark .l {
  color: #de935f
}

.code.dark .n {
  color: #c5c8c6
}

.code.dark .o {
  color: #8abeb7
}

.code.dark .p {
  color: #c5c8c6
}

.code.dark .cm {
  color: #969896
}

.code.dark .cp {
  color: #969896
}

.code.dark .c1 {
  color: #969896
}

.code.dark .cs {
  color: #969896
}

.code.dark .cd {
  color: #969896
}

.code.dark .gd {
  color: #c66
}

.code.dark .ge {
  font-style: italic
}

.code.dark .gh {
  color: #8abeb7;
  font-weight: 600
}

.code.dark .gi {
  color: #b5bd68
}

.code.dark .gp {
  color: #969896;
  font-weight: 600
}

.code.dark .gs {
  font-weight: 600
}

.code.dark .gu {
  color: #8abeb7;
  font-weight: 600
}

.code.dark .kc {
  color: #b294bb
}

.code.dark .kd {
  color: #b294bb
}

.code.dark .kn {
  color: #8abeb7
}

.code.dark .kp {
  color: #b294bb
}

.code.dark .kr {
  color: #b294bb
}

.code.dark .kt {
  color: #f0c674
}

.code.dark .ld {
  color: #b5bd68
}

.code.dark .m {
  color: #de935f
}

.code.dark .s {
  color: #b5bd68
}

.code.dark .na {
  color: #81a2be
}

.code.dark .nb {
  color: #c5c8c6
}

.code.dark .nc {
  color: #f0c674
}

.code.dark .no {
  color: #c66
}

.code.dark .nd {
  color: #8abeb7
}

.code.dark .ni {
  color: #c5c8c6
}

.code.dark .ne {
  color: #c66
}

.code.dark .nf {
  color: #81a2be
}

.code.dark .nl {
  color: #c5c8c6
}

.code.dark .nn {
  color: #f0c674
}

.code.dark .nx {
  color: #81a2be
}

.code.dark .py {
  color: #c5c8c6
}

.code.dark .nt {
  color: #8abeb7
}

.code.dark .nv {
  color: #c66
}

.code.dark .ow {
  color: #8abeb7
}

.code.dark .w {
  color: #c5c8c6
}

.code.dark .mf {
  color: #de935f
}

.code.dark .mh {
  color: #de935f
}

.code.dark .mi {
  color: #de935f
}

.code.dark .mo {
  color: #de935f
}

.code.dark .sb {
  color: #b5bd68
}

.code.dark .sc {
  color: #c5c8c6
}

.code.dark .sd {
  color: #969896
}

.code.dark .s2 {
  color: #b5bd68
}

.code.dark .se {
  color: #de935f
}

.code.dark .sh {
  color: #b5bd68
}

.code.dark .si {
  color: #de935f
}

.code.dark .sx {
  color: #b5bd68
}

.code.dark .sr {
  color: #b5bd68
}

.code.dark .s1 {
  color: #b5bd68
}

.code.dark .ss {
  color: #b5bd68
}

.code.dark .bp {
  color: #c5c8c6
}

.code.dark .vc {
  color: #c66
}

.code.dark .vg {
  color: #c66
}

.code.dark .vi {
  color: #c66
}

.code.dark .il {
  color: #de935f
}
